---
---

<section class="sections max-w-[1150px] self-center flex flex-col-reverse gap-16 lg:flex-row relative h-fit overflow-hidden px-4">
	<div class="w-1/2 h-[600px] place-items-center self-center">
        <video src="https://res.cloudinary.com/dqgxt985j/video/upload/v1740778135/Kristina_Masabi_final_con_voz_vicbca.mp4" autoplay loop controls class="min-h-[600px] h-full md:rounded-[40px]"></video>
    </div>
    <div class="flex flex-col self-center gap-y-8 w-full px-4 lg:px-0 lg:w-1/2 lg:max-w-[500px]">
        <p class="gradient-text text-lg text-center lg:text-start lg:text-3xl font-bold"> Con nuestros campers, el talento que necesitas está al alcance de tu mano</p>
        <div class="flex flex-col gap-y-6">
            <div class="flex items-start gap-4">
                <img src="/img/LogoCode.svg" alt="" width="40" height="40">
                <div class="flex flex-col mt-2">
                    <p class="font-semibold">Innovación continua</p>
                </div>
            </div>
            <div class="flex items-start gap-4">
                <img src="/img/LogoLanguage.svg" alt="" width="40" height="40">
                <div class="flex flex-col mt-2">
                    <p class="font-semibold">Optimización de procesos</p>
                </div>
            </div>
            <div class="flex items-start gap-4">
                <img src="/img/LogoSkills.svg" alt="" width="40" height="40">
                <div class="flex flex-col mt-2">
                    <p class="font-semibold">Colaboración y comunicación</p>
                </div>
            </div>
            <div class="flex items-start gap-4">
                <img src="/img/LogoCode.svg" alt="" width="40" height="40">
                <div class="flex flex-col mt-2">
                    <p class="font-semibold">Contribución al crecimiento económico</p>
                </div>
            </div>
            <div class="flex items-start gap-4">
                <img src="/img/LogoLanguage.svg" alt="" width="40" height="40">
                <div class="flex flex-col mt-2">
                    <p class="font-semibold">Solución de problemas</p>
                </div>
            </div>
            <div class="flex items-start gap-4">
                <img src="/img/LogoSkills.svg" alt="" width="40" height="40">
                <div class="flex flex-col mt-2">
                    <p class="font-semibold">Contribución a los ODS</p>
                </div>
            </div>
        </div>
    </div>
</section>