---
import { Image } from 'astro:assets';
---

<section class="flex gap-16 max-w-7xl mx-auto from-8% relative py-6 lg:py-20 h-fit overflow-hidden px-4">
	<div class="w-1/2 hidden lg:block">
		<img src="src/assets/img/emplea/student.png" alt="" class="w-full">
    </div>
    <div class="flex flex-col gap-y-8 w-full px-4 lg:px-0 lg:w-1/2 lg:max-w-[500px]">
        <p class="gradient-text text-lg text-center lg:text-start lg:text-3xl font-bold"> Con nuestros campers, el talento que necesitas está al alcance de tu mano</p>
        <div class="flex flex-col gap-y-6">
            <div class="flex items-start gap-4">
                <img src="/img/LogoCode.svg" alt="" width="40" height="40">
                <div class="flex flex-col mt-2">
                    <p class="font-semibold">Innovación continua</p>
                </div>
            </div>
            <div class="flex items-start gap-4">
                <img src="/img/LogoLanguage.svg" alt="" width="40" height="40">
                <div class="flex flex-col mt-2">
                    <p class="font-semibold">Optimización de procesos</p>
                </div>
            </div>
            <div class="flex items-start gap-4">
                <img src="/img/LogoSkills.svg" alt="" width="40" height="40">
                <div class="flex flex-col mt-2">
                    <p class="font-semibold">Colaboración y comunicación</p>
                </div>
            </div>
            <div class="flex items-start gap-4">
                <img src="/img/LogoCode.svg" alt="" width="40" height="40">
                <div class="flex flex-col mt-2">
                    <p class="font-semibold">Contribución al crecimiento económico</p>
                </div>
            </div>
            <div class="flex items-start gap-4">
                <img src="/img/LogoLanguage.svg" alt="" width="40" height="40">
                <div class="flex flex-col mt-2">
                    <p class="font-semibold">Solución de problemas</p>
                </div>
            </div>
            <div class="flex items-start gap-4">
                <img src="/img/LogoSkills.svg" alt="" width="40" height="40">
                <div class="flex flex-col mt-2">
                    <p class="font-semibold">Contribución a los ODS</p>
                </div>
            </div>
        </div>
    </div>
</section>