---
import { Image } from 'astro:assets';
import myImage from '~/assets/img/patrocina/student.png';
---
<section class="w-full max-w-7xl mx-auto pb-10 px-4">
	<a href="/patrocinar" target="_blank" class="w-full hidden lg:block">
		<img src="/src/assets/img/patrocina/donation.png" alt="" class="">
	</a>
	<div class="w-full flex flex-col gap-y-6 lg:hidden border-gradiante rounded-2xl py-10 text-center px-4">
		<p class="gradient-text text-lg font-semibold leading-[28px]">Haz una donación y marca la diferencia</p>
		<p class="text-sm ">Con tu donación, ayudas a transformar vidas. Puedes elegir hacer una donación única o configurar una suscripción para apoyar de forma recurrente a nuestros Campers.</p>
		<a href="/patrocinar" target="_blank">
			<button class="btn-primary max-w-[320px] mx-auto h-14 px-6 flex items-center gap-x-2">
				Patrocina nuestros campers
			</button>
		</a>
	</div>
	<img src="/src/assets/img/textura-lateral-derecha.svg" alt="" class="absolute top-0 right-0">
	<img src="/src/assets/img/textura-lateral-izquierda.svg" alt="" class="absolute top-0 left-0">
</section>

<style scoped>
.border-gradiante {
	border: 6px solid transparent;
	border-image: linear-gradient(93.45deg, #19F5BF 11.32%, #2CA2FF 96.83%) 1;
}
</style>