---
---
<section class="w-full flex flex-wrap gap-6 max-w-7xl mx-auto py-20 px-4 relative">
	<div class="w-full flex flex-col gap-y-3 text-center md:w-[48%] lg:w-[18%] rounded-[40px] py-4 px-5" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 55.8%, rgba(153, 153, 153, 0.08) 111.74%);">
		<div class="flex justify-center items-center mb-3">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#F4B422" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-waypoints"><circle cx="12" cy="4.5" r="2.5"/><path d="m10.2 6.3-3.9 3.9"/><circle cx="4.5" cy="12" r="2.5"/><path d="M7 12h10"/><circle cx="19.5" cy="12" r="2.5"/><path d="m13.8 17.7 3.9-3.9"/><circle cx="12" cy="19.5" r="2.5"/></svg>
		</div>
		<p class="text-lg font-semibold text-primary">Conecta con nuestro Talento</p>
		<p class="text-sm font-normal">Tu patrocinio te conecta con jóvenes talentosos, listos para aportar valor a tu equipo. </p>
	</div>
	<div class="w-full flex flex-col gap-y-3 text-center md:w-[48%] lg:w-[18%] rounded-[40px] py-4 px-5" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 55.8%, rgba(153, 153, 153, 0.08) 111.74%);">
		<div class="flex justify-center items-center mb-3">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#F4B422" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-handshake"><path d="m11 17 2 2a1 1 0 1 0 3-3"/><path d="m14 14 2.5 2.5a1 1 0 1 0 3-3l-3.88-3.88a3 3 0 0 0-4.24 0l-.88.88a1 1 0 1 1-3-3l2.81-2.81a5.79 5.79 0 0 1 7.06-.87l.47.28a2 2 0 0 0 1.42.25L21 4"/><path d="m21 3 1 11h-2"/><path d="M3 3 2 14l6.5 6.5a1 1 0 1 0 3-3"/><path d="M3 4h8"/></svg>
		</div>
		<p class="text-lg font-semibold text-primary">Contribuye a las ODS</p>
		<p class="text-sm font-normal">Aporta a un futuro sin pobreza, con educación, igualdad de género, empleos dignos, infraestructura, y cooperación global.</p>
	</div>
	<div class="w-full flex flex-col gap-y-3 text-center md:w-[48%] lg:w-[18%] rounded-[40px] py-4 px-5" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 55.8%, rgba(153, 153, 153, 0.08) 111.74%);">
		<div class="flex justify-center items-center mb-3">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#F4B422" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-biceps-flexed"><path d="M12.409 13.017A5 5 0 0 1 22 15c0 3.866-4 7-9 7-4.077 0-8.153-.82-10.371-2.462-.426-.316-.631-.832-.62-1.362C2.118 12.723 2.627 2 10 2a3 3 0 0 1 3 3 2 2 0 0 1-2 2c-1.105 0-1.64-.444-2-1"/><path d="M15 14a5 5 0 0 0-7.584 2"/><path d="M9.964 6.825C8.019 7.977 9.5 13 8 15"/></svg>
		</div>
		<p class="text-lg font-semibold text-primary">Impacto Social Positivo</p>
		<p class="text-sm font-normal">Patrocina y brinda educación de primer nivel, impulsando talento que transforma comunidades.</p>
	</div>
	<div class="w-full flex flex-col gap-y-3 text-center md:w-[48%] lg:w-[18%] rounded-[40px] py-4 px-5" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 55.8%, rgba(153, 153, 153, 0.08) 111.74%);">
		<div class="flex justify-center items-center mb-3">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#F4B422" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-medal"><path d="M7.21 15 2.66 7.14a2 2 0 0 1 .13-2.2L4.4 2.8A2 2 0 0 1 6 2h12a2 2 0 0 1 1.6.8l1.6 2.14a2 2 0 0 1 .14 2.2L16.79 15"/><path d="M11 12 5.12 2.2"/><path d="m13 12 5.88-9.8"/><path d="M8 7h8"/><circle cx="12" cy="17" r="5"/><path d="M12 18v-2h-.5"/></svg>
		</div>
		<p class="text-lg font-semibold text-primary">Reconocimiento y visibilidad</p>
		<p class="text-sm font-normal">Recibe reconocimiento en eventos y plataformas, destacando tu apoyo al desarrollo de talento en tecnología.</p>
	</div>
	<div class="w-full flex flex-col gap-y-3 text-center md:w-[48%] lg:w-[18%] rounded-[40px] py-4 px-5" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 55.8%, rgba(153, 153, 153, 0.08) 111.74%);">
		<div class="flex justify-center items-center mb-3">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#F4B422" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M22 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
		</div>
		<p class="text-lg font-semibold text-primary">Responsabilidad Social</p>
		<p class="text-sm font-normal">Fortalece tu imagen apoyando a Campuslands, demostrando compromiso social.</p>
	</div>
	<img src="/img/textura-lateral-derecha.svg" alt="" class="absolute top-0 right-0">
	<img src="/img/textura-lateral-izquierda.svg" alt="" class="absolute top-0 left-0">
</section>

