---
---
<section class="w-full flex flex-wrap gap-6 max-w-7xl mx-auto py-20  px-4 relative">
	<div class="w-full flex flex-col gap-y-3 text-center md:w-[48%] lg:w-[18%] rounded-[40px] py-4 px-5" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 55.8%, rgba(153, 153, 153, 0.08) 111.74%);">
		<img src="/img/icons/connect.svg" alt="" class="mx-auto">
		<p class="text-lg font-semibold text-[#19F5BF]">Conecta con nuestro Talento</p>
		<p class="text-sm font-normal">Tu patrocinio te conecta con jóvenes talentosos, listos para aportar valor a tu equipo. </p>
	</div>
	<div class="w-full flex flex-col gap-y-3 text-center md:w-[48%] lg:w-[18%] rounded-[40px] py-4 px-5" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 55.8%, rgba(153, 153, 153, 0.08) 111.74%);">
		<img src="/img/icons/handShake.svg" alt="" class="mx-auto">
		<p class="text-lg font-semibold text-[#19F5BF]">Contribuye a las ODS</p>
		<p class="text-sm font-normal">Aporta a un futuro sin pobreza, con educación, igualdad de género, empleos dignos, infraestructura, y cooperación global.</p>
	</div>
	<div class="w-full flex flex-col gap-y-3 text-center md:w-[48%] lg:w-[18%] rounded-[40px] py-4 px-5" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 55.8%, rgba(153, 153, 153, 0.08) 111.74%);">
		<img src="/img/icons/arm2.svg" alt="" class="mx-auto">
		<p class="text-lg font-semibold text-[#19F5BF]">Impacto Social Positivo</p>
		<p class="text-sm font-normal">Patrocina y brinda educación de primer nivel, impulsando talento que transforma comunidades.</p>
	</div>
	<div class="w-full flex flex-col gap-y-3 text-center md:w-[48%] lg:w-[18%] rounded-[40px] py-4 px-5" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 55.8%, rgba(153, 153, 153, 0.08) 111.74%);">
		<img src="/img/icons/medal2.svg" alt="" class="mx-auto">
		<p class="text-lg font-semibold text-[#19F5BF]">Reconocimiento y visibilidad</p>
		<p class="text-sm font-normal">Recibe reconocimiento en eventos y plataformas, destacando tu apoyo al desarrollo de talento en tecnología.</p>
	</div>
	<div class="w-full flex flex-col gap-y-3 text-center md:w-[48%] lg:w-[18%] rounded-[40px] py-4 px-5" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 55.8%, rgba(153, 153, 153, 0.08) 111.74%);">
		<img src="/img/icons/group.svg" alt="" class="mx-auto">
		<p class="text-lg font-semibold text-[#19F5BF]">Responsabilidad Social</p>
		<p class="text-sm font-normal">Fortalece tu imagen apoyando a Campuslands, demostrando compromiso social.</p>
	</div>
	<img src="/src/assets/img/textura-lateral-derecha.svg" alt="" class="absolute top-0 right-0">
	<img src="/src/assets/img/textura-lateral-izquierda.svg" alt="" class="absolute top-0 left-0">
</section>
