---
import ContactButton from '../common/ContactButton.astro'
import Students from '~/assets/img/nosotros/students.png'
import StudentsTwo from '~/assets/img/nosotros/students-two.png'
import StudentsThree from '~/assets/img/nosotros/students-three.png'
import { Image } from 'astro:assets';

---

<section class="flex sections max-w-[1150px] self-center gap-16">
	<div class="flex flex-col flex-grow-1 md:w-[560px] gap-y-3 items-center md:items-start">
		<p class="gradient-text font-bold leading-9 lg:!leading-[60px] text-2xl text-center md:text-[40px] md:text-start"> Juntos, transformamos el futuro de la tecnología en Colombia y América Latina </p>
		<p class="text-base font-medium text-center md:text-start text-white">Somos un equipo dedicado a transformar jóvenes talentos en profesionales listos para revolucionar la industria tecnológica.</p>
		<ContactButton tipo="emplear" whatsApp='+50240579715' iconName='arm.svg' StylesAnchor='place-items-center'/>
		<div class="flex-col items-center flex min-[1200px]:hidden gap-y-6">
			<Image src={Students} alt="estudiantes" class="w-auto h-[276px]" />
		</div>
	</div>
	<Image src={Students} alt="estudiantes" class="hidden min-[1200px]:block w-[430px] h-[435px]" />
</section>
<section id="students-two" class="flex sections max-w-[1150px] self-center flex-col-reverse min-[1200px]:flex-row gap-16 ">
	<Image src={StudentsTwo} alt="estudiantes" class="w-[328px] h-[236px] md:w-[488px] md:h-[352px]" />
	<div class="flex flex-col gap-y-5 max-w-[328px] md:max-w-[471px]">
		<p class="gradient-text font-extrabold !leading-[1.6] text-2xl mx-auto w-[328px] text-center md:text-[32px] md:w-full md:text-start">
			Democratizar el talento tech y transformar vidas
		</p>
		<p class="text-center text-base md:text-start leading-6 text-white">
			En Campuslands, formamos a la próxima generación de desarrolladores con una educación integral y humana. Impulsamos el crecimiento de jóvenes como agentes de cambio, listos para liderar la transformación tecnológica en empresas que buscan innovación, productividad y un impacto real en la economía global.
		</p>
		<div class="flex items-center justify-between flex-col md:flex-row gap-x-4">
			<ContactButton tipo="agendar" whatsApp='+50240579715' iconName='agenda.svg' StylesAnchor='place-items-center'/>
		</div>
	</div>
</section>
<section class="flex justify-center items-center flex-col min-[1200px]:flex-row gap-16 ">
	<div class="flex flex-col gap-y-5 max-w-[328px] md:max-w-[471px]">
		<p class="gradient-text font-extrabold !leading-[1.6] text-2xl mx-auto w-[328px] text-center md:text-[32px] md:w-full md:text-start">
			Ser el mayor motor de talento tech en Colombia
		</p>
		<p class="text-center text-base md:text-start leading-6 text-white">
			Convertirnos en el referente en la formación de desarrolladores, creativos digitales y expertos en marketing, impulsando mentes brillantes en espacios de innovación y aprendizaje ágil. Nuestro objetivo: acelerar el crecimiento de empresas y transformar la economía con talento listo para liderar el futuro.
		</p>
		<ContactButton tipo="chatear" whatsApp='+50240579715' iconName='whatsapp-green-dark.svg' StylesAnchor='place-items-center'/>
	</div>
	<Image src={StudentsThree} alt="estudiantes" class="w-[328px] h-[236px] md:w-[488px] md:h-[352px]" />
</section>

<style>
.icon-circle-arrow {
	animation: move-circle 2s infinite;
}

@keyframes move-circle {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0);
	}
}

</style>