---
import ContactButton from '../common/ContactButton.astro'
import Students from '~/assets/img/nosotros/students.png'
import StudentsTwo from '~/assets/img/nosotros/students-two.png'
import StudentsThree from '~/assets/img/nosotros/students-three.png'
import { Image } from 'astro:assets';

---

<section class="principal flex sections max-w-[1150px] self-center gap-16">
	<div class="flex flex-col flex-grow-1 md:w-[560px] gap-y-3 self-center items-center semilg:items-start">
		<p class="gradient-text font-bold leading-9 lg:!leading-[60px] text-2xl text-center md:text-[40px] md:text-start"> Juntos, transformamos el futuro de la tecnología en Latinoamerica</p>
		<p class="text-base font-medium text-center md:text-start text-white">Somos un equipo dedicado a transformar jóvenes talentos en profesionales listos para revolucionar la industria tecnológica.</p>
		<ContactButton tipo="emplear" whatsApp='+50240579715' iconName='arm.svg' StylesAnchor='place-items-center'/>
		<div class="flex-col items-center flex min-[1200px]:hidden gap-y-6">
			<Image src={Students} alt="estudiantes" class="w-auto h-[276px]" />
		</div>
	</div>
	<Image src={Students} alt="estudiantes" class="hidden min-[1200px]:block w-[430px] h-[435px]" />
</section>
<section id="students-two" class="flex sections max-w-[1150px] w-full mx-auto px-4 lg:px-0 flex-col-reverse min-[1200px]:flex-row gap-8 lg:gap-16">
    <!-- Contenedor de la imagen -->
    <div class="flex justify-center w-full min-[1200px]:w-auto">
        <Image src={StudentsTwo} alt="estudiantes" class="w-full max-w-[328px] md:max-w-[488px] h-auto" />
    </div>

    <!-- Contenedor de texto y botón -->
    <div class="flex flex-col gap-y-4 lg:gap-y-5 w-full min-[1200px]:max-w-[471px] items-center lg:items-start">
        <p class="gradient-text font-extrabold leading-7 lg:!leading-[1.6] text-xl md:text-2xl lg:text-[32px] text-center lg:text-start">
            Democratizar el talento tech y transformar vidas
        </p>
        <p class="text-center lg:text-start text-sm md:text-base leading-5 lg:leading-6 text-white">
            En Campuslands, formamos a la próxima generación de desarrolladores con una educación integral y humana. Impulsamos el crecimiento de jóvenes como agentes de cambio, listos para liderar la transformación tecnológica en empresas que buscan innovación, productividad y un impacto real en la economía global.
        </p>
        <div class="flex items-center justify-center lg:justify-start w-full gap-4">
            <ContactButton tipo="agendar" whatsApp='+50240579715' iconName='agenda.svg' StylesAnchor='place-items-center'/>
        </div>
    </div>
</section>
<section class="flex justify-center items-center flex-col min-[1200px]:flex-row gap-8 lg:gap-16 w-full px-4 py-8">
    <div class="flex flex-col gap-y-4 lg:gap-y-5 w-full max-w-[328px] md:max-w-[471px]">
        <p class="gradient-text font-extrabold leading-7 lg:!leading-[1.6] text-xl md:text-2xl lg:text-[32px] text-center md:text-start">
            Ser el mayor motor de talento tech en Latinoamerica
        </p>
        <p class="text-center md:text-start text-sm md:text-base leading-5 lg:leading-6 text-white">
            Convertirnos en el referente en la formación de desarrolladores, creativos digitales y expertos en marketing, impulsando mentes brillantes en espacios de innovación y aprendizaje ágil. Nuestro objetivo: acelerar el crecimiento de empresas y transformar la economía con talento listo para liderar el futuro.
        </p>
        <div class="flex justify-center md:justify-start">
            <ContactButton tipo="chatear" whatsApp='+50240579715' iconName='whatsapp-green-dark.svg' StylesAnchor='place-items-center'/>
        </div>
    </div>

    <div class="flex justify-center w-full min-[1200px]:w-auto">
        <Image src={StudentsThree} alt="estudiantes" class="w-full max-w-[328px] md:max-w-[488px] h-auto" />
    </div>
</section>

<style>

	.principal {
		margin-bottom: 10rem;

	}
.icon-circle-arrow {
	animation: move-circle 2s infinite;
}

@keyframes move-circle {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0);
	}
}

</style>