:root {
	--color-primary: #02D9A4;
	--color-primary-action: #005C45;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background: linear-gradient(3.14deg, #000065 -7.48%, #00001E 1.99%, #000066 30.56%, #000041 92.78%, #00001A 102.5%);
	scroll-behavior: smooth;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}