---
import FormContact from "~/partials/formContact.vue";
import "~/styles/index.css";

---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<title>Contáctanos</title>
</head>
<body>
	<FormContact client:load />
</body>
</html>

<style>
body {
	background: linear-gradient(113.32deg, rgba(0, 0, 51, 0.5) 16.4%, rgba(26, 26, 255, 0.5) 99.18%);
	height: 100dvh;
	width: 100dvw;
}
</style>