---
import FormEmploy from "~/partials/formEmploy.vue"
import "~/styles/index.css";

---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Emplea</title>
</head>
<body>
	<FormEmploy client:load />
</body>
</html>

<style>
body {
	background: linear-gradient(113.32deg, rgba(0, 0, 51, 0.5) 16.4%, rgba(26, 26, 255, 0.5) 99.18%);
	height: 100dvh;
	width: 100dvw;
}
</style>