---
import LayoutNavbar from "../layouts/LayoutNavbar.astro";
import Intro from "../components/emplea/intro.astro";
import Talent from "../components/emplea/talent.astro";
import Timeline from "../components/emplea/timeline.vue";
import AlliedCompanies from "../components/alliedCompanies.astro";
import ConnectingTalent from "../components/emplea/connectingTalent.astro";
import { Image } from 'astro:assets';
import iconHappy from '~/assets/img/icons/happyFace.svg'
import "~/styles/index.css";
---
<LayoutNavbar title="Campuslands - Emplea">
	<Intro />
	<Talent />
	<Timeline client:load />
	<AlliedCompanies />
	<ConnectingTalent />
	<div class="flex justify-center items-center px-4 lg:px-0">
		<img src="/img/emplea/campers mundo.png" alt="">
	</div>
	<div class="max-w-[691px] vstext mx-auto my-auto flex flex-col gap-y-8 py-20 px-6">
		<p class="gradient-text text-lg md:text-[28px] mb-1 font-bold text-center leading-10">¿Preparado para la evolución que tu empresa necesita? Accede al talento que impulsará tu crecimiento y marcará la diferencia.</p>
		<p class="text-white font-semibold text-center text-sm md:text-lg leading-7">¿Preparado para la evolución que tu empresa necesita? Accede al talento que impulsará tu crecimiento y marcará la diferencia.</p>
		<a href="/contactanos" target="_blank" class="flex justify-center items-center gap-x-2 z-30">
			<button class="btn-primary h-14 px-6 justify-center w-full md:w-fit flex items-center gap-x-2 z-30 mx-auto font-semibold">
				Contactanos
				<Image src={iconHappy} alt="Happy" class="hidden md:block" />
			</button>
		</a>
	</div>

</LayoutNavbar>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
