---
import LayoutNavbar from "../layouts/LayoutNavbar.astro";
import "~/styles/index.css";

import Intro from "../components/home/intro.astro";
import Testimonials from "../components/home/testimonials.astro";
import AlliedCompanies from "../components/alliedCompanies.astro";
import BuildingFuture from "../components/buildingFuture.astro";
import PotentialDevelopment from "../components/potentialDevelopment.astro";
import VisitUs from "../components/visitUs.astro";
import Faq from "../components/home/faq.astro";
---
<LayoutNavbar title="Campuslands">
	<Intro />
	<div class="">
		<AlliedCompanies />
		<BuildingFuture />
		<Testimonials id="testimonials-section" />
		<PotentialDevelopment />
		<div class="w-full max-w-7xl mx-auto py-10 lg:my-20 lg:py-10 px-4">
			<img src="/img/card.png" alt="" class="w-full hidden lg:block">
			<img src="/img/card.png" alt="" class="w-full lg:hidden">
		</div>
		<VisitUs />
		<Faq />
	</div>
</LayoutNavbar>

<style>
main {
	margin: auto;
	padding: 1rem;
	width: 800px;
	max-width: calc(100% - 2rem);
	color: white;
	font-size: 20px;
	line-height: 1.6;
}
.astro-a {
	position: absolute;
	top: -32px;
	left: 50%;
	transform: translatex(-50%);
	width: 220px;
	height: auto;
	z-index: -1;
}
h1 {
	font-size: 4rem;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	margin-bottom: 1em;
}
.text-gradient {
	background-image: var(--accent-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 400%;
	background-position: 0%;
}

</style>
