---
import LayoutNavbar from "../layouts/LayoutNavbar.astro";
import Intro from "../components/patrocinar/intro.astro";
import Items from "../components/patrocinar/items.astro";
import Donate from "../components/patrocinar/donate.astro";
import Subscribe from "../components/patrocinar/subscribe.astro";
import AlliedCompanies from "../components/patrocinar/alliedCompanies.astro";
import "~/styles/index.css";

const dataFooter = {
  title: "¿Listo para transformar vidas a través de la tecnología?",
  content:
    "Sé parte del cambio que impulsa el talento tech en Latinoamérica. Tu apoyo abre las puertas a jóvenes con potencial para desarrollarse en la industria tecnológica. ¡Únete como patrocinador y construye un futuro más inclusivo!",
  buttonType: "patrocinio",
  buttonIcon: "heartdark.svg",
};
---

<LayoutNavbar title="Campuslands - Patrocina" description="Invierte en el futuro" dataFooter={dataFooter}>
  <Intro />
  <div class="sections max-w-[1150px] self-center">
    <img src="/img/patrocina/card.png" alt="Campers de Campuslands con mensaje de transformación social a través de la tecnología" class="w-full hidden sm:block" />
    <img src="/img/patrocina/cardMobile.png" alt="Imagen promocional de patrocinio a la educación tecnológica en Campuslands" class="w-full sm:hidden" />
  </div>
  <Items />
  <Donate />
  <Subscribe />
  <AlliedCompanies />
</LayoutNavbar>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
