---
import LayoutNavbar from "../layouts/LayoutNavbar.astro";
import Intro from "../components/patrocinar/intro.astro";
import Items from "../components/patrocinar/items.astro";
import Donate from "../components/patrocinar/donate.astro";
import Subscribe from "../components/patrocinar/subscribe.astro";
import AlliedCompanies from "../components/patrocinar/alliedCompanies.astro";
import "~/styles/index.css";
---

<LayoutNavbar title="Campuslands - Emplea">
	<Intro />
	<div class="w-full max-w-7xl mx-auto py-10 lg:py-0 px-4">
		<img src="/img/patrocina/card.png" alt="" class="w-full hidden lg:block">
		<img src="/img/patrocina/cardMobile.png" alt="" class="w-full lg:hidden">
	</div>
	<Items />
	<Donate />
	<Subscribe />
	<AlliedCompanies />
</LayoutNavbar>

<style>
main {
	margin: auto;
	padding: 1rem;
	width: 800px;
	max-width: calc(100% - 2rem);
	color: white;
	font-size: 20px;
	line-height: 1.6;
}
</style>
