---
import FormSponsor from "~/partials/formSponsor.vue";
import "~/styles/index.css";

---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Patrocina</title>
</head>
<body>
	<FormSponsor client:load />
</body>
</html>

<style>
body {
	background: linear-gradient(180deg, rgba(22, 7, 74, 0.5) 7.12%, rgba(0, 0, 179, 0.5) 41.21%);
	height: 100dvh;
	width: 100dvw;
}
</style>