---
import FormScheduleVisit from '~/partials/formScheduleVisit.vue';
import "~/styles/index.css";


---


<main class="section-main">
	<FormScheduleVisit client:load />
</main>

<style>
.section-main {
	background-image: url('/src/assets/img/texxture.svg');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 75%;
	background-color: #000066;
}
</style>


