---
import SliderTestimonials from './sliderTestimonials.astro';
---

<section class="testimonials max-w-[1150px] self-center overflow-hidden relative ">
    <div class="text-center mb-10 flex flex-col gap-y-8">
        <h2 class="gradient-text f-32 font-bold max-w-[476px] mx-auto">Conectamos Talento con Grandes Oportunidades</h2>
        <p class="text-lg text-white text-center font-semibold max-w-[485px] mx-auto">Las empresas más destacadas han apostado por el talento de Campuslands para construir el futuro.</p>
    </div>
	<SliderTestimonials />
	<img src="/img/texxture.svg" alt="" class="w-1/2 rotate-180 absolute top-[520px] -left-[340px]">
</section>
