---
import { Image } from 'astro:assets';
import companySolvo from '~/assets/img/companies/Solvo.svg';
import companyQNT from '~/assets/img/companies/QNT.svg';
import companyPensemos from '~/assets/img/companies/Pensemos1.svg';
import companyAmarisConsulting from '~/assets/img/companies/AmarisConsulting.svg';
import companyGalapagoAgroConsultores from '~/assets/img/companies/GalapagoAgroConsultores.svg';
import companyApplus from '~/assets/img/companies/Applus.svg';
import companyGrafosoft from '~/assets/img/companies/Grafosoft.svg';
const companies = [
    {
        id: 1,
        img: companySolvo,
        alt: 'Solvo - Bringing you a world of talent',
    },
    {
        id: 2,
        img: companyQNT,
        alt: 'QNT - Creemos, ayudamos e impulsamos sueños',
    },
    {
        id: 3,
        img: companyPensemos,
        alt: 'Pensemos - Logo',
    },
    {
        id: 4,
        img: companyAmarisConsulting,
        alt: 'Amaris Consulting - Logo',
    },
    {
        id: 5,
        img: companyGalapagoAgroConsultores,
        alt: 'GalapagoAgroConsultores - Logo',
    },
    {
        id: 6,
        img: companyApplus,
        alt: 'Applus - Logo',
    },
    {
        id: 7,
        img: companyGrafosoft,
        alt: 'Grafosoft - Logo',
    },
]
---

<section class="allied-companies overflow-hidden py-10 relative">
	<p class="text-white text-center mb-10">Estas compañías confían en nuestro talento para impulsar su éxito</p>
	<div class="flex flex-wrap gap-6 mx-auto max-w-[1150px]">
		{companies.map((company, index) => (
			<div class="hover:scale-110 transform transition duration-300 ease-in-out">
				<Image
					src={company.img}
					alt="Unete a nuestra comunidad"
				/>
			</div>
		))}
	</div>
</section>