---
---
<div class="indicators max-w-[934px] mx-auto my-40">
	<div class="flex flex-col gap-y-8 text-center mb-16">
		<p class="gradient-text text-4xl font-bold max-w-[472px] mx-auto">
			Construyendo el futuro del talento tech en Colombia
		</p>
		<p class="text-white max-w-[730px] mx-auto">
			Conecta con el talento que tu empresa necesita. En Campuslands formamos desarrolladores preparados para los retos de la industria tech.
		</p>
	</div>
	<div class="flex flex-col gap-12">
		<div class="flex flex-wrap justify-between">
			<div class="flex flex-col w-[258px]">
				<div class="flex items-center justify-center gap-x-2">
					<img src="/img/icons/indicators/contratados.svg" alt="" class="size-10">
					<p class="text-white font-bold text-[40px] countup">500+</p>
				</div>
				<p class="text-center text-white font-semibold">Nuestros Campers contratados en empresas</p>
			</div>
			<div class="flex flex-col w-[258px]">
				<div class="flex items-center justify-center gap-x-2">
					<img src="/img/icons/indicators/inscritos.svg" alt="" class="size-10">
					<p class="text-white font-bold text-[40px] countup">2000+</p>
				</div>
				<p class="text-center text-white font-semibold">Campers inscritos en Colombia</p>
			</div>
			<div class="flex flex-col w-[258px]">
				<div class="flex items-center justify-center gap-x-2">
					<img src="/img/icons/indicators/patrocinadores.svg" alt="" class="size-10">
					<p class="text-white font-bold text-[40px] countup">50+</p>
				</div>
				<p class="text-center text-white font-semibold">Patrocinadores apoyando el crecimiento de nuestros Campers</p>
			</div>
		</div>
		<div class="flex flex-wrap justify-between">
			<div class="flex flex-col w-[258px]">
				<div class="flex items-center justify-center gap-x-2">
					<img src="/img/icons/indicators/empresas.svg" alt="" class="size-10">
					<p class="text-white font-bold text-[40px] countup">100+</p>
				</div>
				<p class="text-center text-white font-semibold">Empresas han confiado en el talento formado en Campuslands</p>
			</div>
			<div class="flex flex-col w-[258px]">
				<div class="flex items-center justify-center gap-x-2">
					<img src="/img/icons/indicators/graduados.svg" alt="" class="size-10">
					<p class="text-white font-bold text-[40px] countup">80%</p>
				</div>
				<p class="text-center text-white font-semibold">De los Campers se especializa en las tecnologías más demandadas del mercado</p>
			</div>
			<div class="flex flex-col w-[258px]">
				<div class="flex items-center justify-center gap-x-2">
					<img src="/img/icons/indicators/contratadosMeses.svg" alt="" class="size-10">
					<p class="text-white font-bold text-[40px] countup">90%</p>
				</div>
				<p class="text-center text-white font-semibold">De los Campers son contratados en los primeros 3 meses.</p>
			</div>
		</div>
	</div>
	<p class="text-2xl text-white text-center font-semibold max-w-[722px] mx-auto my-20">
		El éxito de tu empresa comienza con el mejor talento. Únete a la red de empleadores que confían en el futuro tech.
	</p>
	<button class="btn-primary max-w-[297px] mx-auto h-14 px-6 flex items-center gap-x-2">
		Emplea nuestros Campers
		<img src="/img/icons/arm.svg" alt="">
	</button>
</div>