---
import ContactButton from "./common/ContactButton.astro"

const ContactNumber = "+50240579715";
---
<section id="numbers" class="indicators sections max-w-[1150px] self-center ">
	<div class="flex flex-col gap-y-8 text-center mb-16">
		<h2 class="gradient-text text-xl text-center lg:text-3xl font-bold max-w-[472px] mx-auto">
			Construyendo el futuro del talento tech en Latinoamerica
		</h2>
		<p class="text-white max-w-[730px] mx-auto">
			Conecta con el talento que tu empresa necesita. En Campuslands formamos desarrolladores preparados para los retos de la industria tech.
		</p>
	</div>
	<div class="flex flex-col gap-12">
		<div class="flex flex-wrap justify-between gap-10">
			<div class="flex flex-col w-full mx-auto max-w-[258px]">
				<div class="flex items-center justify-center gap-x-2">
					<img src="/img/icons/indicators/contratados.svg" alt="" class="size-10">
					<p class="text-white font-bold text-[40px] countup w-[80px]" data-count="500">0+</p>
				</div>
				<p class="text-center text-white font-medium">Nuestros Campers contratados en empresas</p>
			</div>
			<div class="flex flex-col w-full mx-auto max-w-[258px]">
				<div class="flex items-center justify-center gap-x-2">
					<img src="/img/icons/indicators/inscritos.svg" alt="" class="size-10">
					<p class="text-white font-bold text-[40px] countup w-[100px]" data-count="2000">0+</p>
				</div>
				<p class="text-center text-white font-medium max-w-[170px] mx-auto">Campers inscritos</p>
			</div>
			<div class="flex flex-col w-full mx-auto max-w-[258px]">
				<div class="flex items-center justify-center gap-x-2">
					<img src="/img/icons/indicators/patrocinadores.svg" alt="" class="size-10">
					<p class="text-white font-bold text-[40px] countup" data-count="50">0+</p>
				</div>
				<p class="text-center text-white font-medium">Patrocinadores apoyando el crecimiento de nuestros Campers</p>
			</div>
			<div class="flex flex-col w-full mx-auto max-w-[258px]">
				<div class="flex items-center justify-center gap-x-2">
					<img src="/img/icons/indicators/empresas.svg" alt="" class="size-10">
					<p class="text-white font-bold text-[40px] countup" data-count="100">0+</p>
				</div>
				<p class="text-center text-white font-medium">Empresas han confiado en el talento formado en Campuslands</p>
			</div>
			<div class="flex flex-col w-full mx-auto max-w-[258px]">
				<div class="flex items-center justify-center gap-x-2">
					<img src="/img/icons/indicators/graduados.svg" alt="" class="size-10">
					<p class="text-white font-bold text-[40px] countup" data-count="80">0%</p>
				</div>
				<p class="text-center text-white font-medium">De los Campers se especializa en las tecnologías más demandadas del mercado</p>
			</div>
			<div class="flex flex-col w-full mx-auto max-w-[258px]">
				<div class="flex items-center justify-center gap-x-2">
					<img src="/img/icons/indicators/contratadosMeses.svg" alt="" class="size-10">
					<p class="text-white font-bold text-[40px] countup" data-count="90">0%</p>
				</div>
				<p class="text-center text-white font-medium">De los Campers son contratados en los primeros 3 meses.</p>
			</div>
		</div>
	</div>
	<p class="text-lg text-white text-center font-semibold max-w-[722px] mx-auto mt-20 mb-10">
		El éxito de tu empresa comienza con el mejor talento. Únete a la red de empleadores que confían en el futuro tech.
	</p>
	<div class="flex flex-wrap justify-center gap-10">
		<ContactButton tipo="patrocinio" whatsApp={ContactNumber} iconName="medal.svg" isOutline StylesButton="max-w-[320px]"/>
		<ContactButton tipo="emplear" whatsApp={ContactNumber} iconName="arm.svg" StylesButton="max-w-[320px]"/>
	</div>
</section>

<script>
	const target = document.getElementById('numbers');
	const observer = new IntersectionObserver((entries, observer) => {
		entries.forEach(entry => {
			if (entry.isIntersecting) {
				setTimeout(() => {
					incrementNumbers();
					observer.unobserve(entry.target);
				}, 200);
			}
		});
	}, {
		threshold: 0.1,
		rootMargin: '50px'
	});
	
	function incrementNumbers() {
		const counters = document.querySelectorAll('.countup');
		counters.forEach((counter, index) => {
			let initial_count = 0;
			const final_count = Number(counter.dataset.count);
			const increment = Math.ceil(final_count / 40); 
	
			const updateCounting = () => {
				initial_count += increment;
				if (initial_count >= final_count) {
					initial_count = final_count;
					clearInterval(counting);
				}
	
				counter.innerText = ([counters.length - 1, counters.length - 2].includes(index)) 
					? initial_count + '%' 
					: initial_count + '+';
			};
	
			const counting = setInterval(updateCounting, 25);
		});
	}
	
	if (target) {
		observer.observe(target);
	} else {
		console.error('Target element not found');
	}
	</script>