---
// Importa los íconos correctamente
import { Code, Languages, Users } from 'lucide-vue-next';
---

<section class="flex gap-16 max-w-7xl mx-auto from-8% relative py-6 lg:py-20 h-fit overflow-hidden px-4">
  <div class="flex flex-col gap-y-8 w-full px-4 lg:px-0 lg:w-1/2 lg:max-w-[500px]">
    <p class="gradient-text text-lg text-center lg:text-start lg:text-3xl font-bold">
      Desarrolla tu potencial desde tres perspectivas clave
    </p>
    <p class="text-white mx-auto font-semibold">
      Potencia tus habilidades para convertirte en el profesional integral que las empresas buscan.
    </p>
    <div class="flex flex-col gap-y-6">
      <!-- Programación -->
      <div class="flex items-start gap-4">
        <div class="p-2 rounded-lg flex items-center justify-center w-12 h-12" style="background-color: var(--color-primary)">
          <Code class="text-white w-8 h-6" />
        </div>
        <div class="flex flex-col mt-2">
          <p class="font-semibold">Programación</p>
          <p class="font-light">
            Desde fundamentos hasta herramientas avanzadas, prepárate para los desafíos de la industria.
          </p>
        </div>
      </div>
      <!-- Inglés -->
      <div class="flex items-start gap-4">
        <div class="p-2 rounded-lg flex items-center justify-center w-12 h-12" style="background-color: var(--color-primary)">
          <Languages class="text-white w-8 h-6" />
        </div>
        <div class="flex flex-col mt-2">
          <p class="font-semibold">Inglés</p>
          <p class="font-light">
            Domina el idioma global y amplía tus oportunidades para colaborar con equipos internacionales y destacar en el mercado global.
          </p>
        </div>
      </div>
      <!-- Habilidades Socioemocionales -->
      <div class="flex items-start gap-4">
        <div class="p-2 rounded-lg flex items-center justify-center w-12 h-12" style="background-color: var(--color-primary);">
          <Users class="text-white w-8 h-6" />
        </div>
        <div class="flex flex-col mt-2">
          <p class="font-semibold">Habilidades Socioemocionales</p>
          <p class="font-light">
            Fortalece tu inteligencia emocional y aprende a trabajar en equipo, comunicarte efectivamente y liderar con confianza.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-1/2 hidden lg:block">
    <img src="/img/campers/campers-computers-1.png" alt="" width="432" height="245" class="ms-auto mb-10">
    <img src="/img/campers/campers-computers-2.png" alt="" width="432" height="245">
  </div>
</section>