---
---

<section class="flex sections self-center gap-16 relative h-fit overflow-hidden">
    <div class="flex flex-col gap-y-8 w-full px-4 lg:px-0 lg:w-1/2 lg:max-w-[500px]">
        <h2 class="gradient-text text-lg text-center lg:text-start lg:text-3xl font-bold"> Aprende a programar desde cero y desarrolla tu potencial desde tres perspectivas clave</h2>
        <p class="text-white mx-auto font-semibold"> Potencia tus habilidades para convertirte en el profesional integral que las empresas buscan. </p>
        <div class="flex flex-col gap-y-6">
            <div class="flex items-start gap-4">
                <img src="/img/LogoCode.svg" alt="" width="40" height="40">
                <div class="flex flex-col mt-2">
                    <p class="font-semibold">Programación</p>
                    <p class="font-light">Desde fundamentos hasta herramientas avanzadas, prepárate para los desafíos de la industria.</p>
                </div>
            </div>
            <div class="flex items-start gap-4">
                <img src="/img/LogoLanguage.svg" alt="" width="40" height="40">
                <div class="flex flex-col mt-2">
                    <p class="font-semibold">Inglés</p>
                    <p class="font-light">Domina el idioma global y amplía tus oportunidades para colaborar con equipos internacionales y destacar en el mercado global.</p>
                </div>
            </div>
            <div class="flex items-start gap-4">
                <img src="/img/LogoSkills.svg" alt="" width="40" height="40">
                <div class="flex flex-col mt-2">
                    <p class="font-semibold">Habilidades Socioemocionales</p>
                    <p class="font-light">Fortalece tu inteligencia emocional y aprende a trabajar en equipo, comunicarte efectivamente y liderar con confianza.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="w-1/2 hidden lg:block">
        <img src="/img/campers/campers-computers-1.png" alt="" width="432" height="245" class="ms-auto mb-10">
        <img src="/img/campers/campers-computers-2.png" alt="" width="432" height="245">
    </div>
</section>