---
import ContactButton from "./common/ContactButton.astro"

const contactNumber = "+50240579715";
---
<section class="flex flex-wrap w-full lg:max-w-[1130px] gap-x-20 max-w-[1150px] sections self-center justify-center relative h-fit overflow-hidden ">
    <a href="https://www.google.com/maps/place/Campuslands/@7.0613469,-73.1259666,17z/data=!3m1!4b1!4m6!3m5!1s0x8e683fc2d64e4c7d:0x2264177758738113!8m2!3d7.0613469!4d-73.1259666!16s%2Fg%2F11trgk2ls3?entry=ttu&g_ep=EgoyMDI1MDEwNy4wIKXMDSoASAFQAw%3D%3D" target="_blank">
        <img src="src/assets/img/mapa.svg" alt="" class="w-4/6 lg:w-[420px] max-h-[420px] mx-auto">
    </a>
    <div class="max-w-[550px] my-auto flex flex-col gap-y-8">
        <p class="gradient-text text-xl text-center lg:text-start lg:text-4xl font-bold mt-5">Visita nuestras instalaciones, vive la experiencia Campuslands</p>
        <p class="text-white font-semibold">Visítanos en nuestras sedes y descubre cómo Campuslands está transformando el talento tech. Agenda una cita y descubre cómo puedes ser parte de esta revolución, ya sea como estudiante, empleador o patrocinador.</p>
        <div class="flex flex-wrap justify-center md:flex-nowrap gap-6">
            <ContactButton tipo="agendar" whatsApp={contactNumber} iconName="agenda.svg" StylesButton="md:max-w-[216px]"/>
            <ContactButton tipo="chatear" whatsApp={contactNumber} iconName="whatsapp.svg" isOutline StylesButton="md:max-w-[300px]"/>
        </div>
    </div>

</section>